{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="login">

    <img src="{% static 'image/logo5.png' %}" width=300>

    <div class="login-form">
        <form method="POST" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            
            <br>
            <div class="input-group mb-3">
                <input class="form-control" name="username" type="text" placeholder="이름">
            </div>
            <br>
            <div class="input-group mb-3">
                <input class="form-control" name="password" type="password" placeholder="비밀번호">
            </div>  
            <br><br>
            <button type="submit" class="btn btn-primary btn-lg btn-block btn btn-danger">로그인</button>
        </form>
    </div>
</div>
{% endblock %}