{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="login">

    <div class="login-form">
        <form method="POST" action="{% url 'accounts:login' %}">
            {% csrf_token %}
            <br>
            <div class="input-group mb-3">
                <input class="form-control" name="username" type="text" placeholder="Name">
            </div>
            <br>
            <div class="input-group mb-3">
                <input class="form-control" name="password" type="password" placeholder="Password">
            </div>  
            <br><br>
            <button type="submit" class="btn btn-primary btn-lg btn-block btn btn-success">Sign In</button>
        </form>

    </div>
</div>
{% endblock %}