{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h3 class="title">강의 검색!</h3>

    <form action="{% url 'lecture:searchLectrue' %}" method="GET">
        <select name="category">
            <option>강의명</option>
            <option>교수</option>
            <input name="search_data" class="input" type="text" placeholder="강의명/교수명으로 검색해보세요">
            <input type="submit" value="검색">
    </form>
</div>
{% for lecture in lectures %}
<div style="margin-top: 10%;">
    <div class="box" style="border: 1px solid black;">
        <span>개설년도: 2020-1 | 교수 : 누구씨 | 전공필수<span>
                <br>
                <a href="{% url 'lecture:detail' lecture.id %}">
                    <h2>{{lecture.title}}</h2>
                </a>
                <hr>
                <span style="float: right;">별점: 
                    {% if lecture.score > 4 %}
                    ⭐⭐⭐⭐⭐
                    {% elif lecture.score > 3 and lecture.score <= 4%}
                    ⭐⭐⭐⭐
                    {% elif lecture.score > 2 and lecture.score <= 3%}
                    ⭐⭐⭐
                    {% elif lecture.score > 1 and lecture.score <= 2%}
                    ⭐⭐
                    {% elif lecture.score > 0 %}
                    ⭐
                    {% else %}

                    {% endif %}
                </span>
    </div>
</div>

{% endfor %}

{% endblock %}