{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container">
    <hr>
    <div id="comment-box">
        {% for comment in user.comment.all %}

        <div id="{{comment.id}}" class="comment" style="padding:15px;">
            <a href={% url 'lecture:detail' comment.lecture.id %}>{{comment.lecture}}</a>
            <div class="star" style="margin-top:5px;margin-bottom:5px;">
                {% if comment.star > 4 %}
                ⭐⭐⭐⭐⭐
                {% elif comment.star > 3 and comment.star <= 4%}
                ⭐⭐⭐⭐
                {% elif comment.star > 2 and comment.star <= 3%}
                ⭐⭐⭐
                {% elif comment.star > 1 and comment.star <= 2%}
                ⭐⭐
                {% elif comment.star > 0 %}
                ⭐
                {% else %}

                {% endif %}
            </div>            
            <div class="content">{{ comment.content }}</div>

        </div>
        <hr>
        {% endfor %}
    </div>
</div>


{% endblock %}