@font-face {
    font-family: 'LotteMartHappy';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff') format('woff');
  }
  
  @font-face {
    font-family: 'LotteMartHappy';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyBold.woff') format('woff');
  }
  
  .lottemarthappy * {
   font-family: 'LotteMartHappy', sans-serif;
}

body {
    width: 80%;
    margin: 0 auto;
}

.container {
    padding-top: 20px;
}

header{
    margin: 15px auto; 
}

.userinfo{
    float:right;
    margin: 15px 0;
}

.title {
    font-size: 22px;
    font-weight: 900;
    text-align: left;
}

.input {
    width: 87%;
    padding: 7px 0 7px .9rem;
    font-size: 16px;
    line-height: 20px;
    color: #575756;
    border-radius: 20px;
    border: 1px solid #575756;
}

.input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    letter-spacing: 1px;
    padding-left: 3px;
}

.input:focus {
    outline: 0;
}

.box {
    width: 100%;
    height: auto;
    border: 1px solid black;
    display: inline-block;
    padding:20px;
    
}

table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    border: 1px solid #444444;
}

.category {
    font-weight: bold;
}

select {
    margin-bottom: 10px;
    padding: 3px 4px;
}

a {
    text-decoration: none;
    color: black;
}

span{
    font-size: 15px;
}

h3{
    margin-top: 0;
}

canvas{
    margin: 0 auto;
}


footer{
    text-align: center;
    margin:50px;
}

