body {
    width: 80%;
    margin: 0 auto;
}

.container {
    padding-top: 10px;
}

.title {
    font-size: 22px;
    font-weight: 900;
    text-align: left;
}

.input {
    width: 80%;
    padding: 7px 0 7px .5rem;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    border-radius: 20px;
    border: 1px solid #575756;
}

.input::placeholder {
    color: rgba(87, 87, 86, 0.8);
    letter-spacing: 1px;
    padding-left: 3px;
}

.input:focus {
    outline: 0;
    text-decoration: underline;
}

.box {
    width: 100%;
    height: auto;
    border: 1px solid black;
    display: inline-block;
}

table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    border: 1px solid #444444;
}

.category {
    font-weight: bold;
}

select {
    margin-bottom: 10px;
    padding: 3px 4px;
}

a {
    text-decoration: none;
    color: black;
}

span{
    font-size: 15px;
}

h3{
    margin-top: 0;
}

canvas{
    margin: 0 auto;
}