{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
    
    <div class="container">
        <a href="{% url 'accounts:login' %}">로그인</a>
        <a href="{% url 'accounts:signup' %}">회원가입</a>
        <a href="{% url 'accounts:logout' %}">로그아웃</a>
        
        {% if user.is_active %}
        로그인중
        {{ user.username }}
        {{ user.profile.college }}
        {{ user.profile.department }}
        {% else %}
        로그인 아님
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>